In [1]:
import dash
from jupyter_dash import JupyterDash
from dash import Dash, dcc, html, dash_table, ctx
from dash.dependencies import Input, Output, State
from dash.exceptions import PreventUpdate

import plotly.express as px
import datetime as dt
import time
import numpy as np
import pandas as pd 
import psycopg2
import psycopg2.extras

In [2]:
tab_style = {
    'borderBottom': '1px solid #d6d6d6',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px',
    'fontWeight': 'bold',
}

tab_selected_style1 = {
    'borderTop': '1px solid #d6d6d6',
    'borderBottom': '1px solid #d6d6d6',
    'backgroundColor': '#ff0018',
    'color': 'white',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px'
}

tab_selected_style2 = {
    'borderTop': '1px solid #d6d6d6',
    'borderBottom': '1px solid #d6d6d6',
    'backgroundColor': '#ffa52c',
    'color': 'white',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px'
}

tab_selected_style3 = {
    'borderTop': '1px solid #d6d6d6',
    'borderBottom': '1px solid #d6d6d6',
    'backgroundColor': '#ffff41',
    'color': 'white',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px'
}

tab_selected_style4 = {
    'borderTop': '1px solid #d6d6d6',
    'borderBottom': '1px solid #d6d6d6',
    'backgroundColor': '#008018',
    'color': 'white',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px'
}

tab_selected_style5 = {
    'borderTop': '1px solid #d6d6d6',
    'borderBottom': '1px solid #d6d6d6',
    'backgroundColor': '#0000f9',
    'color': 'white',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px'
}

tab_selected_style6 = {
    'borderTop': '1px solid #d6d6d6',
    'borderBottom': '1px solid #d6d6d6',
    'backgroundColor': '#86007d',
    'color': 'white',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px'
}

tab_selected_style7 = {
    'borderTop': '1px solid #d6d6d6',
    'borderBottom': '1px solid #d6d6d6',
    'backgroundColor': '#f6aab7',
    'color': 'white',
    'padding': '6px',
    'font-family':'Lucida Grande',
    'font-size': '15px'
}

header = {
    "font-family": "Lucida Grande",
    "font-size": "25px",
    'text-align':'center',
    "letter-spacing": "0.4px",
    "word-spacing": "2px",
    "color": "#ffffff",
    "font-weight": "700",
    "text-decoration": "none",
    "font-style": "normal",
    "font-variant": "small-caps",
    "text-transform": "none",
    'background': 'linear-gradient(to right, #FF0018 0%, #FFA52C 20%,#FFFF41 40%, #008018 60%, #0000F9 80%, #86007D 100%)'
}

searchBox = {
    'width': '99.3%',
    'height': '100px',
    'margin-top':'10px',
    'background-color':'#dedede',
    'borderWidth': '1px',
    'borderStyle': 'solid',
    'borderRadius': '5px',
    'borderColor': '#dedede',
    'padding': '5px',
    'font-family':'Lucida Grande'
}

style_cell = {
    'text-align': 'left',
    'font-family': 'Lucida Grande',
    'font-size': '10px'
}

tbl_header_style = {
    'text-align': 'left',
    'font-family': 'Lucida Grande',
    'font-size': '12px',
    'font-weight': 'bold',
    'background-color': '#dedede',
}

data_saved_style = {
    'font-family':'Lucida Grande',
    'font-size':'14px',
    'text-align':'left',
}

saved_box_style = {
    'background-color':'rgba(115,227,25,0.5)',
    'border':'2px solid #3EA41A',
    'border-radius':'10px',
    'width':'50%',
    'padding-left':'10px',
    'height':'45px',
    'margin-top':'10px'
}

error_box_style = {
    'background-color':'rgba(247,32,25,0.5)',
    'border':'2px solid #B82019',
    'border-radius':'10px',
    'width':'50%',
    'padding-left':'10px',
    'margin-top':'10px'
}

button_style = {
    'background-color':'#F0F8FF',
    'border':'3px solid #FFFFFF',
    'padding':'10px',
    'width':'150px',
    'font-family':'Lucida Grande',
    'font-size':'10px',
    'color':'#00308F',
    'margin-top':'10px'
}

In [3]:
hostname = 'localhost'
database = 'rbike'
username = 'postgres'
pwd = 'admin'
port_id = 5432
conn= None
cur= None

try:
    conn = psycopg2.connect(
        host=hostname,
        dbname=database,
        user=username,
        password=pwd,
        port=port_id)

    cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)

    cur.execute('SELECT * FROM customer')
    data = cur.fetchall()
    df_customer = pd.DataFrame(data=data, columns=['id','first name','last name','sex','email'])
    #print(df_customer)

    cur.execute('SELECT * FROM bike')
    data = cur.fetchall()
    df_bike = pd.DataFrame(data=data, columns=['bike_id','brand','model','repair_status','order_id','repair_shop_id','supplier_id'])
    #print(df_bike)

    cur.execute('SELECT * FROM order_in')
    data = cur.fetchall()
    df_order = pd.DataFrame(data=data, columns=['order_id','payment','customer_id','giftbox_id'])
    #print(df_order)

    cur.execute('SELECT * FROM employee')
    data = cur.fetchall()
    df_employee = pd.DataFrame(data=data,columns=['employee_id','first_name','last_name','sex','e-mail','department_id'])
    #print(df_employee)

    cur.execute('SELECT * FROM supplier')
    data = cur.fetchall()
    df_supplier = pd.DataFrame(data=data, columns=['supplier_id','supplier_name','contact_person','e-mail'])
    #print(df_supplier)

    cur.execute('SELECT * FROM repairshop')
    data = cur.fetchall()
    df_repair = pd.DataFrame(data=data, columns=['repair_shop_id','repair_shop_name','contact_person','e-mail'])
    #print(df_repair)

    cur.execute('SELECT * FROM giftbox')
    data = cur.fetchall()
    df_gift = pd.DataFrame(data=data, columns=['giftbox_id','giftbox_name','giftbox_procurement_price','giftbox_amount'])
    #print(df_gift)

    #insert_script= 'INSERT INTO customer (first_name, last_name, sex, email) VALUES (%s,%s,%s,%s)'
    #insert_values= ('Mitchell', 'Pritchett','male', 'MVP@modern_family.com')
    #cur.execute(insert_script,insert_values)
    
    conn.commit()

except Exception as error:
    print(error)

finally:
    if cur is not None:
        cur.close()
        conn.close()

In [4]:
def maybeMakeNumber(s):
    """Returns a string 's' into a integer if possible, a float if needed or
    returns it as is."""

    # handle None, "", 0
    if not s:
        return None  
    try:
        f = float(s)
        i = int(f)
        return i if f == i else f
    except ValueError:
        return s

#data = ["unkind", "data", "42", 98, "47.11", "of mixed", "types",'']

#converted = list(map(maybeMakeNumber, data))
#print(converted)


def make_ins_del_list(rows, df, unique_factor):
    df_new = pd.DataFrame(rows)
    df_comp1 = df.merge(df_new, how='outer', indicator=True)
    df_edited = df_comp1[df_comp1._merge != 'both']
    #print(df_edited)
    if not df_edited.empty:
        l = list(df_edited[unique_factor])
        visited = set()
        dup = [x for x in l if x in visited or (visited.add(x) or False)]
        df_ins_del = df_edited.copy()
        df_value_change = df_edited.copy()
        for i in dup:
            df_ins_del = df_ins_del[df_ins_del[unique_factor] != i]
        for i in dup:
            df_value_change = df_value_change[df_value_change[unique_factor] == i]
        df_ins = df_ins_del[df_ins_del._merge == 'right_only'].drop(unique_factor,1)
        df_del = df_ins_del[df_ins_del._merge == 'left_only']
        del_list = list(df_del.bike_id)
        df_ins = df_ins.drop('_merge',1)
        ins_dict = df_ins.to_dict('split')
        ins_list = []
        for i in ins_dict['data']:
            #print(i)
            i = list(map(maybeMakeNumber, i))
            #print('after', i)
            t = tuple(i)
            #print('tuple', t)
            ins_list.append(t)
        return ins_list, del_list
    else:
        return [],[]

In [5]:
app = JupyterDash(__name__)
app.layout = html.Div(children=[
    html.H1(children=['RBike Database Management System'], style=header),
    html.Div(id='home', className='control_tabs',children=[
        dcc.Tabs(id='view_tabs',value='bikes', children=[
            dcc.Tab(
                label='Bikes',
                value='bikes',
                style=tab_style,
                selected_style= tab_selected_style1,
                children=[
                    html.Div(style={'margin-top':'10px'},children=[
                        dash_table.DataTable(
                            df_bike.to_dict('records'), [{"name": i, "id": i} for i in df_bike.columns],
                            editable=True,
                            row_deletable=True,
                            style_cell=style_cell,
                            style_header=tbl_header_style,
                            style_as_list_view=True,
                            id='bike_tbl'
                        )
                    ]),
                    html.Button('Add row', id='edit_rows_button', n_clicks=0, style=button_style),
                    html.Button('Save', id='save_to_postgres', n_clicks=0, style=button_style),
                    html.Div([],'placeholder')
                ]
            ),
            dcc.Tab(
                label='Customers',
                value='customer',
                style=tab_style,
                selected_style= tab_selected_style2,
                children=[
                    html.Div(style={'margin-top':'10px'},children=[
                        dash_table.DataTable(
                            df_customer.to_dict('records'), [{"name": i, "id": i} for i in df_customer.columns],
                            style_cell=style_cell,
                            style_header=tbl_header_style,
                            style_as_list_view=True,
                            id='customer_tbl'
                        )
                    ])
                ]
            ),
            dcc.Tab(
                label='Bookings',
                value='bookings',
                style=tab_style,
                selected_style=tab_selected_style3,
                children= [
                    html.Div(style= searchBox,children=[
                        html.H5(children=['Search Box'],style={'margin-top':'-2px'}),
                        dcc.Input(placeholder='what are you looking for?', type='text',id='input 1'),
                        dcc.Input(placeholder='what are you looking for?', type='text',id='input 2'),
                        html.P(children='hello',style={'margin-left':'90%'})
                    ]),
                    html.Div(style={'margin-top':'10px'},children=[
                        dash_table.DataTable(
                            df_order.to_dict('records'), [{"name": i, "id": i} for i in df_order.columns],
                            style_cell=style_cell,
                            style_header=tbl_header_style,
                            style_as_list_view=True,
                            id='order_tbl'
                        )
                    ])
                ]
            ),
            dcc.Tab(
                label='H.R.',
                value='hr',
                style=tab_style,
                selected_style=tab_selected_style4,
                children= [
                    html.Div(style={'margin-top':'10px'},children=[
                        dash_table.DataTable(
                            df_employee.to_dict('records'), [{"name": i, "id": i} for i in df_employee.columns],
                            style_cell=style_cell,
                            style_header=tbl_header_style,
                            style_as_list_view=True,
                            id='employee_tbl'
                        )
                    ])
                ]
            ),
            dcc.Tab(
                label='Suppliers',
                value='suppliers',
                style=tab_style,
                selected_style=tab_selected_style5,
                children=[
                    html.Div(style={'margin-top':'10px'},children=[
                        dash_table.DataTable(
                            df_supplier.to_dict('records'), [{"name": i, "id": i} for i in df_supplier.columns],
                            style_cell=style_cell,
                            style_header=tbl_header_style,
                            style_as_list_view=True,
                            id='supplier_tbl'
                        )
                    ])
                ]
            ),
            dcc.Tab(
                label='Repair shops',
                value='repair_shops',
                style=tab_style,
                selected_style=tab_selected_style6,
                children=[
                     html.Div(style={'margin-top':'10px'},children=[
                        dash_table.DataTable(
                            df_repair.to_dict('records'), [{"name": i, "id": i} for i in df_repair.columns],
                            style_cell=style_cell,
                            style_header=tbl_header_style,
                            style_as_list_view=True,
                            id='repair_tbl'
                        )
                    ])
                ]
            ),
            dcc.Tab(
                label='Gift Boxes',
                value='giftbox',
                style=tab_style,
                selected_style=tab_selected_style7,
                children=[
                    html.Div(style={'margin-top':'10px'},children=[
                        dash_table.DataTable(
                            df_gift.to_dict('records'), [{"name": i, "id": i} for i in df_gift.columns],
                            style_cell=style_cell,
                            style_header=tbl_header_style,
                            style_as_list_view=True,
                            id='gift_tbl'
                        )
                    ])
                ]
            )
        ])
    ])
])

##########################################################################################################################

@app.callback(
    [Output('placeholder','children'),
    Output('bike_tbl','data')],
    [Input('save_to_postgres','n_clicks'),
    Input('edit_rows_button','n_clicks')],
    [State('bike_tbl','data'),
    State('bike_tbl','columns')],
    prevent_initial_call=True
)
def update_pg(n_clicks_save, n_clicks_add, rows, columns):
    button_clicked = ctx.triggered_id
    if button_clicked == 'save_to_postgres':
        print('Save clicked')
        try:
            conn = psycopg2.connect(
                host=hostname,
                dbname=database,
                user=username,
                password=pwd,
                port=port_id)

            cur = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
            cur.execute('SELECT * FROM bike')
            data = cur.fetchall()
            df_bike = pd.DataFrame(data=data, columns=['bike_id','brand','model','repair_status','order_id','repair_shop_id','supplier_id'])
            #print(rows)
            if n_clicks_save > 0:
                ins_list, del_list = make_ins_del_list(rows,df_bike,'bike_id')
                print(ins_list)
                print(del_list)
                if ins_list != []:
                    print('inserting--------  ', ins_list)
                    insert_script= 'INSERT INTO bike (brand, model, repair_status, order_ID, repairshop_ID, supplier_ID) VALUES (%s,%s,%s,%s,%s,%s)'
                    for i in ins_list:
                        cur.execute(insert_script,i)

                if del_list != []:
                    print('deleting--------  ', del_list)
                    for i in del_list:
                        cur.execute(f'DELETE FROM bike WHERE bike_id = {i}')

                conn.commit()

                output_pos = html.Div(style=saved_box_style,children=html.Plaintext( "\N{check mark} Data saved successfully.",style=data_saved_style))
            
            cur.execute('SELECT * FROM bike')
            data = cur.fetchall()
            df_bike = pd.DataFrame(data=data, columns=['bike_id','brand','model','repair_status','order_id','repair_shop_id','supplier_id'])
            rows = df_bike.to_dict('records')

            return output_pos, rows


        except Exception as error:
            print(error)
            output_neg = html.Div(style=error_box_style,children=html.Plaintext( f"\N{cross mark} Sorry. Something went wrong.\n{error}",style=data_saved_style))
            return output_neg, rows
        finally:
            if cur is not None:
                cur.close()
                conn.close()

    elif button_clicked == 'edit_rows_button':
        print('add clicked')
        if n_clicks_add > 0:
            rows.append({c['id']: '' for c in columns})
        return html.Div([]), rows

In [6]:
if __name__ == '__main__':
    app.run_server(debug=True, mode='external', host='127.0.0.1',port=8000)

#NOTES########
#it's only possible to add 1 row at a time
#create funtion for uploading to postgres

Dash app running on http://127.0.0.1:8000/

add clicked
Save clicked
[('Biker', 'mountain', 'false', None, 1, 3)]
[]
inserting--------   [('Biker', 'mountain', 'false', None, 1, 3)]

/Users/dennisknierim/miniconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:916: FutureWarning:

In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:36: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:39: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

add clicked
add clicked
Save clicked
[]
[]

/Users/dennisknierim/miniconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:916: FutureWarning:

In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:36: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:39: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

add clicked
Save clicked
[('trueBike', 'allrounder', 'false', None, 1, 3)]
[]
inserting--------   [('trueBike', 'allrounder', 'false', None, 1, 3)]

/Users/dennisknierim/miniconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:916: FutureWarning:

In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:36: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:39: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

add clicked
Save clicked
[('4Bikes', 'street', 'false', None, 1, 3)]
[67.0]
inserting--------   [('4Bikes', 'street', 'false', None, 1, 3)]
deleting--------   [67.0]

/Users/dennisknierim/miniconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:916: FutureWarning:

In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:36: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:39: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

add clicked
Save clicked
[(None, None, None, None, None, None)]
[]
inserting--------   [(None, None, None, None, None, None)]
null value in column "brand" of relation "bike" violates not-null constraint
DETAIL:  Failing row contains (75, null, null, null, null, null, null).

/Users/dennisknierim/miniconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:916: FutureWarning:

In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:36: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_23752/319419696.py:39: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

Save clicked
[]
[]

In [91]:
df_bike

,bike_id,brand,model,repair_status,order_id,repair_shop_id,supplier_id
0,1,BIker,street,false,1.0,1,2
1,2,BIker,street,false,2.0,1,3
2,3,4BIKES,mountain,false,3.0,2,1
3,6,trueBike,mountain,false,4.0,1,3
4,7,trueBike,street,false,5.0,2,3
5,8,trueBike,street,false,6.0,2,3
6,65,4BIKES,mountain,true,NaN,2,2
7,67,4BIKES,mountain,false,NaN,2,1

In [95]:
df_bike_new = df_bike_new.append({'bike_id':55,'brand':'4Biker','model':'mountain','repair_status':'false','order_id':9,'repair_shop_id':1,'supplier_id':3},ignore_index=True)

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_18856/748864304.py:1: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

In [96]:
df_bike_new

,bike_id,brand,model,repair_status,order_id,repair_shop_id,supplier_id
0,1,BIker,street,false,1.0,1,2
1,2,BIker,street,false,2.0,1,3
2,3,4BIKES,mountain,false,3.0,2,1
3,6,trueBike,mountain,false,4.0,1,3
4,7,trueBike,street,false,5.0,2,3
5,8,trueBike,street,false,6.0,2,3
6,65,4BIKES,mountain,true,NaN,2,2
7,67,4BIKES,mountain,false,NaN,2,1
8,54,Biker,street,false,7.0,2,3
9,55,4Biker,mountain,false,9.0,1,3

In [40]:
df_bike_new = df_bike_new.drop(4)

In [97]:
ins_list, del_list = make_ins_del_list(df_bike_new,df_bike,'bike_id')

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_18856/2413986142.py:35: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_18856/2413986142.py:38: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

In [98]:
ins_list

[('Biker', 'street', 'false', 7, 2, 3),
 ('4Biker', 'mountain', 'false', 9, 1, 3)]

In [46]:
del_list

[7]

In [77]:
i = 22
str(i)

'22'

In [108]:
df_bike_new = df_bike.drop(8)
df_bike_new=df_bike_new.append({'bike_id':10,'brand':'A','model':'B','repair_status':'false','order_id':8,'repair_shop_id':'2','supplier_id':'2'}, ignore_index=True)

/var/folders/hq/d18z7q_x3570dr_djp_9zfg80000gn/T/ipykernel_6321/1410045272.py:2: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

In [109]:
df_bike_new.brand=['BIker',
 'BIker',
 '4BIKES',
 'trueBike',
 'trueBike',
 'trueBike',
 'trueBike',
 'trueBike',
 'A']

In [111]:
df_compare=df_bike.merge(df_bike_new,how='outer',indicator=True)
df_compare

/Users/dennisknierim/miniconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:916: FutureWarning:

In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)

,bike_id,brand,model,repair_status,order_id,repair_shop_id,supplier_id,_merge
0,1,BIker,street,false,1.0,1.0,2.0,both
1,2,BIker,street,false,2.0,1.0,3.0,both
2,3,4BIKES,mountain,false,3.0,2.0,1.0,both
3,4,4Bikes,street,false,NaN,2.0,1.0,left_only
4,5,trueBike,mountain,true,NaN,1.0,1.0,both
5,6,trueBike,mountain,false,4.0,1.0,3.0,both
6,7,trueBike,street,false,5.0,2.0,3.0,both
7,8,trueBike,street,false,6.0,2.0,3.0,both
8,9,nEXtBi,allrounder,true,NaN,2.0,2.0,left_only
9,4,trueBike,street,false,NaN,2,1,right_only
10,10,A,B,false,8.0,2,2,right_only

In [112]:
df_compare=df_compare[df_compare._merge!='both']
df_compare

,bike_id,brand,model,repair_status,order_id,repair_shop_id,supplier_id,_merge
3,4,4Bikes,street,false,NaN,2.0,1.0,left_only
8,9,nEXtBi,allrounder,true,NaN,2.0,2.0,left_only
9,4,trueBike,street,false,NaN,2,1,right_only
10,10,A,B,false,8.0,2,2,right_only

In [113]:

l = list(df_compare.bike_id)
visited = set()
dup = [x for x in l if x in visited or (visited.add(x) or False)]
dup

[4]

In [116]:
dup.append(9)
df = df_compare.copy()
for i in dup:
    df=df[df.bike_id != i]
df

,bike_id,brand,model,repair_status,order_id,repair_shop_id,supplier_id,_merge
10,10,A,B,false,8.0,2,2,right_only

In [146]:
dictc = df.to_dict('split')
print(dictc['data'])
l1 = []
for i in dictc['data']:
    t = tuple(i)
    l1.append(t)

print(l1)

[[10, 'A', 'B', 'false', 8.0, '2', '2', 'right_only']]
[(10, 'A', 'B', 'false', 8.0, '2', '2', 'right_only')]

In [101]:
list(df_compare._merge)

['left_only', 'left_only', 'right_only', 'right_only']